header{
    nav{
        ul{
            display: flex;
            justify-content: space-around;
            a{
                flex-grow: 1;
                text-align: center;
                li{
                    list-style: none;
                    padding: 16px;
                    
                    &:hover{
                        // Tablet
                        @media screen and (max-width: 768px) {
                            background-color: red;
                          }
                        // Móvil  
                        @media screen and (max-width: 425px) {
                            background-color: yellow;
                          }
                        cursor: pointer;
                        background-color: beige;
                    }
                }
            }
            &:hover{
                border: 1px dashed black;
            }
        }
    }
}